@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<div>
    <pre>
    Matt Ingram
    <a href="mailto:matt.ingram@ent0.com">matt.ingram@ent0.com</a>
    
    EntropyZero Consulting, LLC
    12355 Sunrise Valley Drive, Suite 110, Reston, VA 20191
    <a href="http://www.ent0.com/">www.ent0.com</a>
    </pre>
</div>